{% extends "base.html" %} {% block title %}Create Tournament{% endblock %} {%
block content %}
<section class="new_tournaments_box_container container_tournaments_new">
  <br /><br />
  <form method="POST">
    <h3 align="center">New Event</h3>

    <div class="form-group">
      <input
        type="text"
        class="form_control"
        name="name"
        placeholder="Enter New Event Title"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="date"
        class="form_control"
        name="date"
        placeholder="Enter Date"
      />
    </div>
    <br />
    <div class="form-group">
      <input type="time" class="form_control" name="time" />
    </div>
    <br />

    <div>
      <select
        name="location"
        class="form_control"
        placeholder="Select location"
      >
        <option value="Cluster Zablocie">Cluster Zablocie</option>
      </select>
    </div>
    <br />

    <div class="form-group">
      <input
        type="number"
        class="form_control"
        name="partLimit"
        min="0"
        step="5"
        placeholder="Participants limit"
      />
    </div>
    <br />

    <div class="form-group">
      <textarea
        class="form_control"
        name="description"
        placeholder="Description to your event"
      ></textarea>
    </div>
    <br />

    <center>
      <button id="btn" type="submit" class="btn-danger_nav_login">
        Create
      </button>
    </center>
  </form>
</section>

{% endblock %}
