{% extends "base.html" %} {% block title %}Your Events{% endblock %} {% block
content %}
<section class="tournaments_box_container container_tournaments">
  <br />
  <h3 align="center">Your Events</h3>
  {% if user.tournaments|length > 0 %}
  <table style="margin: auto">
    <thead style="display: flex; margin-bottom: 15px; margin-top: 15px">
      <tr>
        <div align="center ">
          <td></td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Name Of The Event</td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Number Of Partakers</td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Date</td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Location</td>
        </div>
      </tr>
    </thead>
    {% endif %} {% for event in user.tournaments %} {% if event.is_public %}
    <tbody
      class="btn_tournaments_list"
      onClick="showTournament({{event.id}}) "
      color="#FF1083"
      style="display: flex; margin-bottom: 15px; position: relative"
    >
      {% else %}
    </tbody>

    <tbody
      class="btn_tournaments_list"
      onClick="showTournament({{event.id}}) "
      style="display: flex; margin-bottom: 15px; position: relative"
    >
      {% endif %}
      <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
        <td>{{event.name}}</td>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
        <td>{{event.partNumber}}/{{event.max_part}}</td>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
        <td>{{event.date}} {{event.time.strftime("%H:%M")}}</td>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
        <td>{{event.location}}</td>
      </tr>
      <tr>
        <td>
          <button id="button_close" class="close_tournaments">
            <p onClick="deleteTournament({{event.id}})" aria-hidden="true">
              &times;
            </p>
          </button>
        </td>
      </tr>
    </tbody>

    {% endfor %}
    <br />
  </table>

  <br />

  <div align="center">
    <a href="/new-tournament ">
      <button id="btn" type="button " class="btn-danger_nav_tournaments">
        Create New Event
      </button>
    </a>
  </div>
  <br />
</section>

{% endblock %}
